



 body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #3498db;
    padding: 15px 0;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 1.5em;
}

.profile-img {
    max-width: 100%;
    border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

.lead {
    font-size: 1.2em;
    color: #555555;
}


body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #3498db;
    padding: 15px 0;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 1.5em;
}

.container {
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
}

.profile-img {
    max-width: 100%;
    border-radius: 10px;
}

.personal-info {
    margin-top: 20px;
}

.personal-info h3 {
    color: #333333;
}

.personal-info b {
    color: #3498db;
} */

/* Add these styles to your existing portfolio.css or create a new CSS file */

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #3498db;
    padding: 15px 0;
}

.navbar-brand {
    color: #ffffff !important;
    font-size: 1.5em;
}

.container {
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
}

.profile-img {
    max-width: 100%;
    border-radius: 10px;
}

.col-md-8 {
    padding-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

.lead {
    font-size: 1.2em;
    color: #555555;
}

.project {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project h3, .project h4, .project h5 {
    color: #3498db;
}

.project h5 {
    font-size: 1.2em;
    margin-top: 10px;
    color: #27ae60;
}

.project img {
    margin-top: 15px;
    margin-bottom: 15px;
}

.personal-info {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.personal-info h3 {
    color: #333333;
}

.personal-info b {
    color: #3498db;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #3498db;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
